/*
  ========================================
  Primary Header
  ========================================
*/

header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
}

header .hbnb-logo {
    content: url("../images/logo.png");
    position: relative;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 5px;
}