/*
  ========================================
  Places styles
  ========================================
*/

.places {
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}

.price_by_night {
    font-color: #FF5A5F;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.information {
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
}